# build output
dist/
.vercel/

# generated types
.astro/

# dependencies
node_modules/

# environment variables
.env
.env.*
!.env.example

# logs
npm-debug.log*
pnpm-debug.log*

# macOS
.DS_Store

# IDE
.idea/
